:root {
    --fondo: #141414;
    --primario: rgba(21, 154, 156, 1);
    --Secundario: rgba(0, 35, 51, 1);
    --Terciario: rgba(180, 190, 201, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Montserrat {
    font-family: 'Montserrat', sans serif;
}

body {
    background: linear-gradient(155deg, rgba(0, 35, 51, 1) 49%, rgba(21, 154, 156, 1) 100%);
    /*unifique el fondo */
    font-family: 'Montserrat';
}

.contenedor {
    width: 90%;
    margin: auto;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: var(--Terciario)
}

/*----------------------Header------------------------*/
.contenedor header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*modifique el contenedor header*/
}

/*header .contenedor{
    display:flex;
    justify-content: space-between;
    align-items: center;
}*/

.contenedor header .logotipo {
    /*agregue contenedor*/
    font-family: 'Montserrat';
    font-weight: normal;
    color: var(--primario);
    font-size: 40px;
}

.contenedor header .logotipo a{
    text-decoration: none;
    color: var(--primario);
}

.contenedor header nav a {
    /*agregue contenedor*/
    color: var(--primario);
    text-decoration: none;
    margin-right: 20px;
}

.contenedor header nav a:hover,
/*agregue contenedor*/
.contenedor header nav a.activo {
    color: var(--Terciario);
}


/*---------------------Película Portada-----------------------*/
.pelicula-portada {
    font-size: 16px;
    min-height: 30.62em;
    color: var(--Terciario);
    background-position: center center;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../src/fastx-min.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 3em;
    display: flex;
    align-items: end;
}

.pelicula-portada .contenedor {
    margin: 0 auto;
    margin-bottom: 2em;
}

.contenedor h1 {
    color: var(--Secundario);
    font-weight: 800;
    font-size: 3.12em;
    margin-bottom: 0.3em;
    letter-spacing: 5px;
    /*espacio entre las letras*/
    font-style: italic;
    text-shadow: 2px 2px 4px var(--Terciario);
    /*efecto de sombra*/
}

.pelicula-portada .subtitulo h4 {
    font-weight: 50;
    font-size: 2em;
    margin-bottom: 0.4em;
    font-style: italic;
    color: var(--Terciario);
}

.pelicula-portada .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 30%;
    margin-bottom: 1em;
    margin-left: 0.3em;
}

.pelicula-portada .boton, 
.contenedor .boton {
    /*background: var(--Secundario);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em, 1.87em;
    color: var(--Terciario);
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1em;
    width: 9.5em;
    height: 2em;*/
    margin: 1.25em;
    padding: 5px;
    width: 9.5em;
    height: 2em;
    font-size: 1em;
    border-radius: 8px;
    background: linear-gradient(345deg, rgb(0,35,51) 0%, rgb(21,154,156) 33%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 400% 400%;
    border: 2px solid rgba(0,35,51,0.7);
    transition: all 0.5s ease 0s !important;
    color: rgb(255, 255, 255);
}

.pelicula-portada .boton:hover,
.contenedor .boton:hover{
    background: var(--fondo);
    color: var(--primario);
}

.pelicula-portada .boton i,
.contenedor .boton i {
    margin-right: 1em;
}

/*------------contenedor de titulo y controles------------*/
.contenedor-titulos-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulos-controles h3 {
    color: var(--primario);
    font-size: 30px;
}

/*------------contenedor principal y flechas----------*/
.peliculas-estreno {
    margin-bottom: 70px;
}

.peliculas-estreno .contenedor-princ {
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-estreno .contenedor-princ .flechaI,
.peliculas-estreno .contenedor-princ .flechaD {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, .30);
    font-size: 40px;
    height: 50%;
    top: calc(50% -25%);
    line-height: 40px;
    width: 50px;
    color: var(--Terciario);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-estreno .contenedor-princ .flechaI:hover,
.peliculas-estreno .contenedor-princ .flechaD:hover {
    background: rgba(0, 0, 0, .9);
}

.peliculas-estreno .contenedor-princ .flechaI {
    left: 0;
}

.peliculas-estreno .contenedor-princ .flechaD {
    right: 0;
}

/*------------Slider--------*/
.peliculas-estreno .contenedor-slider {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-estreno .contenedor-slider .slider {
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-estreno .contenedor-slider .slider .pelicula {
    min-width: 12%;
    transition: .3s ease all;
}

.peliculas-estreno .contenedor-slider .slider .pelicula img {
    width: 100%;
    vertical-align: top;
}


/*--------------------Media Queries---------------------*/
@media screen and (max-width: 1080px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .pelicula-portada {
        font-size: 8px;
    }

    .pelicula-portada .contenedor{
        top: 5px;
    }

    .pelicula-portada .descripcion {
        max-width: 100%;
    }

    .pelicula-portada .subtitulo{
        margin-top: 5px;
    }

    .peliculas-estreno .contenedor-slider {
        overflow: visible;
    }

    .peliculas-estreno .contenedor-slider .slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .peliculas-estreno .flechaI,
    .peliculas-estreno .flechaD {
        display: none;
    }

}

/*------------------Película Seleccionada---------------*/
.contenedor .pelicula-seleccionada {
    min-height: 30em;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../src/AgenteStone-min.jpeg);
    background-size: cover;
    display: flex;
}

.contenedor h5 {
    color: var(--primario);
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 0.1em;
}

.contenedor p {
    color: var(--Terciario);
    font-size: small;
    margin-top: .1em;
    margin-left: 2em;
    margin-bottom: -3em;
}

p.one {
    word-spacing: 20px;

}

 .fcc-btn {
    padding: 7px;
    margin: 1.25em;
    width: 9.5em;
    height: 2em;
    font-size: 1.2em;
    border-radius: 8px;
    background: linear-gradient(345deg, rgb(0,35,51) 0%, rgb(21,154,156) 33%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 400% 400%;
    border: 2px solid rgba(0,35,51,0.7);
    transition: all 0.5s ease 0s !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.fcc-btn:hover {
    /*boton de ver trailer*/
    background-color: var(--Terciario);
    color: var(--Secundario);
}


/*.contenedor .boton {
    background: var(--Secundario);
    border: none;
    border-radius: 0.31em;
    padding: 0.93e, 1.87em;
    color: var(--Terciario);
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1em;
    width: 9.5em;
    height: 2em;
}

.contenedor .boton:hover {
    background: var(--Terciario);
    color: var(--primario);
}*/

.contenedor .boton i {
    margin-right: .5em;
    color: var(--Secundario); /*modifique el color*/
}

/*elimine un contenedor*/

.contenedor h3 {
    color: var(--primario);
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 0.1em;
}


.column p {
    color: var(--Terciario);
    margin-left: 3em;
    margin-right: 3em;
    line-height: 1.8;
    /*altura de línea*/
    text-align: justify;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/*responsive columnas*/
@media screen and (max-width:2000px) {
    .column {
        width: 100%;
    }
    
    .popup{
        display: flex;
        background-color: rgba(0, 35, 51, 0.7);
        position: absolute;
        z-index: 1;
        /* top: 34%; */
        left: min(380px,482px);
        /* left: 26%; */
        /* width: 20%; */
        width: min(243px,278px);
        /* justify-content: center;
        align-items: flex-start; */
        flex-direction: column;
        height: 100px;
        border-radius: 5px;
        border: 2px solid rgba(0,35,51,1);
    }

    .popup h3{
        margin: 5px !important;
        padding: 0px !important;   
    }

    .popup p{
        margin: 5px !important;
        padding: 0px !important;   
    }
}

@media screen and (max-width:1080px) {
    .column {
        width: 100%;
    }

    .popup{
        display: flex;
        background-color: rgba(0, 35, 51, 0.7);
        position: absolute;
        z-index: 1;
        left: 23%;
        width: 30%;
        flex-direction: column;
        height: 90px;
        border-radius: 5px;
        border: 2px solid rgba(0,35,51,1);

    }

    .popup h3{
        margin: 5px !important;
        padding: 0px !important;
        font-size: 12px;
    }

    .popup p{
        margin: 5px !important;
        padding: 0px !important;
        font-size: 15px;  
    }
}

@media screen and (max-width:600px){
    .popup{
        display: flex;
        background-color: rgba(21, 154, 156, 0.6);
        position: absolute;
        z-index: 1;
        left: 50%;
        width: 45%;
        flex-direction: column;
        height: 80px;
        border-radius: 5px;
        border: 2px solid rgba(180, 190, 201,0.6);
    }
    
    .popup h3{
        margin: 5px !important;
        padding: 0px !important;
        font-size: 15px;
        color: var(--Secundario); 
    }
    
    .popup p{
        margin: 5px !important;
        padding: 0px !important;   
        font-size: 9px;
    }
}

@media screen and (max-width:400px){
    .fcc-btn{
        font-size: 0.7em !important;
    }

    .contenedor .pelicula-seleccionada{
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 9.5em;
    }

    .column p{
        text-align: left;
    }

    .popup{
        display: flex;
        background-color: rgba(21, 154, 156, 0.9);
        position: absolute;
        z-index: 1;
        left: 50%;
        width: 45%;
        flex-direction: column;
        height: 80px;
        border-radius: 5px;
        border: 2px solid rgba(180, 190, 201,0.6);
    }
    
    .popup h3{
        margin: 5px !important;
        padding: 0px !important;
        font-size: 11px;
        color: var(--Secundario); 
    }
    
    .popup p{
        margin: 5px !important;
        padding: 0px !important;   
        font-size: 8px;
    }
}